@{
    ViewBag.Title = "乐享房产";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>乐享房产是以特许经营为发展模式的全国性房地产中介连锁机构，于XXXX年XX月XX日诞生于泰国春武里府。到目前为止，已逐步形成了品牌和行业优势。乐享房产自成立以来，秉承“XXXXXXXXXX”的经营理念。短短时间，乐享房产已在春武里府芭提雅区域覆盖别墅区、住宅区、商用区等多领域。</p>
