@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    09020909090
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>WeChat:</strong>   <a>09020909090</a><br />
    <strong>Facebook:</strong>   <a href="mailto:Support@example.com">http://www.facebook.com/lexiangfangwu</a><br />
    <strong>Twitter:</strong>   <a href="mailto:Support@example.com">http://www.twitter.com/lexiangfangwu</a><br />
    <strong>Line:</strong>   <a>09020909090</a><br />
</address>